.container {
    /* background: url('/static/images/charsheet_img/skulls.png') bottom right;
    background-repeat: no-repeat;
    background-position: bottom right; */
}

.charsheet_header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    flex-wrap: wrap;
    gap: 15px;
}

.logo_dnd {
    width: 80px;
    height: 80px;
    background: url('/static/images/charsheet_img/logo.png') no-repeat center/contain;
    margin-right: 10px;
}

.top_info-box {
    display: flex;
    flex-direction: column;
    width: 135px;
    height: 55px;
    padding: 5px;
    text-align: center;
    justify-content: center;
    text-align: center;
    background-image: url('/static/images/charsheet_img/name_box.png');
    background-size: contain;
    background-repeat: no-repeat;
}


.top_info-box label {
    text-align: center;
    top: 3px;
    left: 3px;
    font-size: 12px;
    color: #777;
    padding: 0 3px;
    white-space: nowrap;
}

.all_things {
    border: 1px solid black;
    display: flex;
    flex-direction: column 3;
    justify-content: space-between;
    padding: 10px;
}

.characteristics {
    border: 1px solid black;
    display: flex;
    flex-direction: column 2;
    justify-content: space-between;
    padding: 10px;
}

.passive_perception {
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 10px;
    margin: 10px;
    margin-left: 0;
}

.passive_perception h4 {
    border: 1px solid black;
    color: #777;
}

.passive_perception_val {
    border: 1px solid black;
    font-size: 26px;
    text-align: center;
    padding: 10px;
    padding-right: 50px;
}

.other_languages {
    border: 1px solid black;
    display: flex;
    padding: 10px;
    margin: 10px;
    margin-left: 0;
    margin-bottom: 0;
}

.other_languages label {
    border: 1px solid black;
    text-align: left;
    top: 3px;
    left: 3px;
    font-size: 16px;
    color: #777;
    padding: 0 3px;
    white-space: nowrap;
}

.other_languages_val {
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    text-align: left;
}

.language {
    border: 1px solid black;
    display: flex;
    padding-left: 10px;
}

.stats_column {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    padding: 10px;
    padding-top: 50px;
    background-image: url('/static/images/charsheet_img/stats_background.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.stats_box {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    color: black;
    padding: 10px;
    align-items: center;
    background-image: url('/static/images/charsheet_img/stat_box.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.stats_box label {
    border: 1px solid black;
    font-size: 16px;
    color: #777;
    text-align: center;
}

.bonuses_column {
    border: 1px solid black;
    padding: 10px;
    background-image: url('/static/images/charsheet_img/stats_background.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.bonuses_value {
    border: 1px solid black;
    padding: 10px;
    color: black;
}

.inspiration {
    border: 1px solid black;
    padding: 10px;
}

.proficiency_bonus {
    border: 1px solid black;
    padding: 10px;
}

.modifier {
    border: 1px solid black;
    padding: 10px;
}

.save_throws {
    border: 1px solid black;
    width: 100%;
    padding: 10px;
}

.skills {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

.skills th,
td {
    font-size: 12px;
    color: #777;
    margin: left 0px;
    text-align: left;
    align-items: left;
    line-height: 1;
}

td:first-child {
    padding-left: 0;
}

td:first-child input[type="checkbox"] {
    margin: 0;
    display: block;
}


.armor_hits {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}

.armor_initiative_speed {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    padding: 10px;
}

.armor {
    border: 1px solid black;
    padding: 10px;
}

.initiative {
    border: 1px solid black;
    padding: 10px;
}

.speed {
    border: 1px solid black;
    padding: 10px;
}

.hits {
    border: 1px solid black;
    padding: 10px;
}

.hits_max {
    border: 1px solid black;
    padding: 10px;
}

.hits_current {
    border: 1px solid black;
    padding: 10px;
}

.hits_current input {
    text-align: center;
    background-color: transparent;
    width: 100%;
}

.hits_time {
    border: 1px solid black;
    padding: 10px;
}

.hits_time input {
    text-align: center;
    background-color: transparent;
    width: 100%;
}

.hitdice_throws {
    border: 1px solid black;
    padding: 10px;
}

.hit_dice {
    border: 1px solid black;
    padding: 10px;
}

.death_throws {
    border: 1px solid black;
    padding: 10px;
}

.hits_ckbox {
    display: flex;
    padding: 10px;
}

.attacks {
    border: 1px solid black;
}

.attacks_table {
    border: 1px solid black;
    padding: 10px;
}

.attacks_table input {
    background-color: transparent;
    padding: 10px;
}

.equipment {
    border: 1px solid black;
}

.all_equipment {
    display: flex;
    text-align: center;
    border: 1px solid black;
    padding: 10px;
}

.money {
    border: 1px solid black;
    padding: 10px;
    text-align: left;
}

.money p {
    text-align: center;
    border: 1px solid black;
    border-radius: 3px;
}

.money_val {
    border: 1px solid black;
    padding: 10px;
    text-align: left;
}

.money_val p {
    text-align: center;
    border: 1px solid black;
    border-radius: 3px;
}

.equipment_items {
    display: flex;
    border: 1px solid black;
    padding: 10px;
    flex: auto;
}

.equipment_items label {
    color: #777;
}


.equipment_item {
    text-align: left;
}

.equipment_item_name {
    border-bottom: 1px solid #ccc;
    padding-bottom: 3px;
}

.equipment_item_description {
    text-align: left;
    padding-left: 10px;
}

.description_item {
    border-bottom: 1px solid #ccc;
    padding-bottom: 3px;
}

.ideals_perks {
    padding: 10px;
}

.traits {
    border: 1px solid black;
    padding: 10px;
}

.perks {
    border: 1px solid black;
    padding: 10px;
}