{% extends "main.html" %}

{% block crud_container %}

<style>
    .name {
        text-transform: capitalize;
    }
</style>
<title>Create Character</title>

<script>

    function updateClassDescription() {
        let dropdown = document.getElementById("classDropdown");
        let selectedOption = dropdown.options[dropdown.selectedIndex];

        let details = document.getElementById("classDetails");
        let defaultMessage = document.getElementById("defaultMessage");

        if (selectedOption.value) {
            // Показать контейнер с деталями
            defaultMessage.style.display = "none";
            details.style.display = "block";

            document.getElementById("className").textContent = selectedOption.value;
            document.getElementById("classDescription").textContent = selectedOption.getAttribute("data-description");
        } else {
            // Если класс не выбран, показать сообщение по умолчанию
            details.style.display = "none";
            defaultMessage.style.display = "block";
        }
    }

    function updateRaceDescription() {
        let dropdown = document.getElementById("raceDropdown");
        let selectedOption = dropdown.options[dropdown.selectedIndex];

        let details = document.getElementById("raceDetails");
        let defaultMessage = document.getElementById("defaultMessage");

        if (selectedOption.value) {
            // Показать контейнер с деталями
            defaultMessage.style.display = "none";
            details.style.display = "block";

            document.getElementById("raceName").textContent = selectedOption.value;
            document.getElementById("raceDescription").textContent = selectedOption.getAttribute("data-description");
            document.getElementById("raceSpeed").textContent = "Скорость: " + selectedOption.getAttribute("data-speed");

            // Обновление способностей
            let abilities = JSON.parse(selectedOption.getAttribute("data-abilities") || "[]");
            let abilitiesContainer = document.getElementById("raceAbilities");
            abilitiesContainer.innerHTML = "<strong>Бонусы характеристик:</strong>";
            abilities.forEach(ability_name => {
                abilitiesContainer.innerHTML += `<p>${ability_name.ability}: ${ability_name.bonus}</p>`;
            });

            // Обновление языков
            let languages = JSON.parse(selectedOption.getAttribute("data-languages") || "[]");
            let languagesContainer = document.getElementById("raceLanguages");
            languagesContainer.innerHTML = "<strong>Языки:</strong>";
            languages.forEach(languages => {
                languagesContainer.innerHTML += `<p>${languages}</p>`;
            });

            // Обновление черт
            let traits = JSON.parse(selectedOption.getAttribute("data-traits") || "[]");
            let traitsContainer = document.getElementById("raceTraits");
            traitsContainer.innerHTML = "<strong>Черты:</strong>";
            traits.forEach(trait => {
                traitsContainer.innerHTML += `<p>${trait.name}: ${trait.description}</p>`;
            });
        } else {
            // Если раса не выбрана, показать сообщение по умолчанию
            details.style.display = "none";
            defaultMessage.style.display = "block";
        }
    }

    function updateSubRaceDescription() {
        let dropdown = document.getElementById("subraceDropdown");
        let selectedOption = dropdown.options[dropdown.selectedIndex];

        let descriptionContainer = document.getElementById("description-container");
        let details = document.getElementById("subraceDetails");
        let defaultMessage = document.getElementById("defaultMessage");

        if (selectedOption.value) {
            // Показать контейнер с деталями
            defaultMessage.style.display = "none";
            details.style.display = "block";

            document.getElementById("subraceName").textContent = selectedOption.value;
            document.getElementById("subraceDescription").textContent = selectedOption.getAttribute("data-description");
            document.getElementById("subraceSpeed").textContent = "Скорость: " + selectedOption.getAttribute("data-speed");

            // Обновление способностей
            let abilities = JSON.parse(selectedOption.getAttribute("data-abilities"));
            let abilitiesContainer = document.getElementById("subraceAbilities");
            abilitiesContainer.innerHTML = "<strong>Бонусы характеристик:</strong>";
            abilities.forEach(ability_name => {
                abilitiesContainer.innerHTML += `<p>${ability_name.ability}: ${ability_name.bonus}</p>`;
            });

            // Обновление языков
            let languages = JSON.parse(selectedOption.getAttribute("data-languages"));
            let languagesContainer = document.getElementById("subraceLanguages");
            languagesContainer.innerHTML = "<strong>Языки:</strong>";
            languages.forEach(language => {
                languagesContainer.innerHTML += `<p>${language}</p>`;
            });

            // Обновление черт
            let traits = JSON.parse(selectedOption.getAttribute("data-traits"));
            let traitsContainer = document.getElementById("subraceTraits");
            traitsContainer.innerHTML = "<strong>Черты:</strong>";
            traits.forEach(trait => {
                traitsContainer.innerHTML += `<p>${trait.name}: ${trait.description}</p>`;
            });
        } else {
            // Если подраса не выбрана, показать сообщение по умолчанию
            details.style.display = "none";
            defaultMessage.style.display = "block";
        }
    }
</script>
{% if choose=="race" %}
<form action="/character/race/" method="post">
    <h1>Заголовок видимый при выборе расы</h1>
    <div class="character-creation">
        <div class="left-panel">
            <label for="username">Имя персонажа:</label>
            <input type="text"
                title="Разрешены буквы английского и русского алфавита, цифры, максимальная длина 20 символов, минимальная 2"
                id="name" class="name" name="name" placeholder="Введите имя" maxlength="20" minlength="2"
                pattern="^[а-яА-ЯёЁa-zA-Z0-9]+$" required>

            <label for="gender">Выберите пол персонажа:</label>
            <select name="gender" id="gender" required>
                <option value="Female">Женский</option>
                <option value="Male">Мужской</option>
            </select>

            <label for="raceDropdown">Раса:</label>
            <select name="race_name" id="raceDropdown" required onchange="updateRaceDescription()"
                onclick="updateRaceDescription()">
                <option value="" selected disabled>Выберите расу</option>
                {% for race in all_races %}
                <option value="{{ race.name }}" data-description="{{ race.description | default('Нет описания') }}"
                    data-abilities='{{ (race.ability_score_bonuses or []) | tojson | safe }}'
                    data-speed="{{ race.speed | default(0) }}"
                    data-languages='{{ (race.languages or []) | tojson | safe }}'
                    data-traits='{{ (race.traits or []) | tojson | safe }}'>
                    {{ race.name }}
                </option>
                {% endfor %}
            </select>

            
            <label for="kidness">Насколько добрый твой персонаж?</label>
            <select name="kidness" id="kidness" required>
                <option value="Good">Добрый</option>
                <option value="Neutral">Нейтральный</option>
                <option value="Evil">Злой</option>
            </select>

            <label for="lawfullness">А насколько он законопослушный?</label>
            <select name="lawfullness" id="lawfullness" required>
                <option value="lawfull">Законопослушный</option>
                <option value="Neutral">Нейтральный</option>
                <option value="Chaotic">Хаотичный</option>
            </select>
        </div>

        <div class="right-panel" id="description-container">
            <p id="defaultMessage">Выберите расу, чтобы увидеть описание.</p>
            <div id="raceDetails" style="display: none;">
                <p><strong id="raceName"></strong></p>
                <div id="raceDescription"></div>
                <br>
                <div id="raceAbilities"></div>
                <div id="raceSpeed"></div>
                <br>
                <div id="raceLanguages"></div>
                <div id="raceTraits"></div>
            </div>
        </div>
    </div>
    <button type="submit">Далее</button>
</form>
{% elif choose=="subrace" %}
<form action="/character/class/" method="post">
    <h1>Заголовок видимый при выборе подрасы</h1>
    <div class="character-creation">
        <div class="left-panel">
            <label for="subraceDropdown">Подраса:</label>
            <select name="subrace_name" id="subraceDropdown" onchange="updateSubRaceDescription()"
                onclick="updateSubRaceDescription()">
                <option value="" selected disabled>Выберите подрасу</option>
                {% for subrace in subraces %}
                <option value="{{ subrace.name }}" data-description="{{ subrace.description }}"
                    data-abilities='{{ subrace.ability_score_bonuses | tojson | safe }}'
                    data-speed="{{ subrace.speed }}" data-languages='{{ subrace.languages | tojson | safe }}'
                    data-traits='{{ subrace.traits | tojson | safe }}'>
                    {{ subrace.name }}
                </option>
                {% endfor %}
            </select>
        </div>

        <div class="right-panel" id="description-container">
            <p id="defaultMessage">Выберите подрасу, чтобы увидеть описание.</p>
            <div id="subraceDetails" style="display: none;">
                <p><strong id="subraceName"></strong></p>
                <div id="subraceDescription"></div>
                <br>
                <div id="subraceAbilities"></div>
                <div id="subraceSpeed"></div>
                <br>
                <div id="subraceLanguages"></div>
                <div id="subraceTraits"></div>
            </div>
        </div>
    </div>
    <button type="submit">Далее</button>
</form>
{% elif choose=="class" %}
<form action="/character/background/" method="post">
    <h1>Заголовок видимый при выборе класса</h1>
    <div class="character-creation">
        <div class="left-panel">
            <label for="classDropdown">Класс:</label>
            <select name="class_name" id="classDropdown" onchange="updateClassDescription()">
                <option value="" selected disabled>Выберите класс</option>
                {% for class in all_classes %}
                <option value="{{ class.name }}" data-description="{{ class.description | default('Нет описания') }}">
                    {{ class.name }}
                </option>
                {% endfor %}
            </select>
        </div>

        <div class="right-panel" id="description-container">
            <p id="defaultMessage">Выберите класс, чтобы увидеть описание.</p>
            <div id="classDetails" style="display: none;">
                <p><strong id="className"></strong></p>
                <div id="classDescription"></div>
            </div>
        </div>
    </div>
    <button type="submit">Далее</button>
</form>
{% else %}
<form action="/character/next/" method="post">
    <h1>Заголовок видимый при выборе происхождения</h1>
    <div class="character-creation">
        <div class="left-panel">
            <label for="backgroundDropdown">Происхождение:</label>
            <select name="background_name" id="backgroundDropdown">
                <option value="" selected disabled>Выберите происхождение</option>
                {% for background in all_backgrounds %}
                <option value="{{ background.name }}">
                    {{ background.name }}
                </option>
                {% endfor %}
            </select>
        </div>
    
        <div class="right-panel" id="description-container">
            <p id="defaultMessage">Выберите происхождение, чтобы увидеть описание.</p>
            <div id="subraceDetails" style="display: none;">
                <p><strong id="subraceName"></strong></p>
                <div id="subraceDescription"></div>
                <br>
                <div id="subraceAbilities"></div>
                <div id="subraceSpeed"></div>
                <br>
                <div id="subraceLanguages"></div>
                <div id="subraceTraits"></div>
            </div>
        </div>
    </div>
    <button type="submit">Далее</button>
    </form>
{% endif %}



{% endblock %}