{% extends "main.html" %}

{% block crud_container %}
<title>Create Character</title>

<script>
    function updateClassDescription() {
        let classSelect = document.getElementById("classDropdown");
        let selectedOption = classSelect.options[classSelect.selectedIndex];
        let descriptionDiv = document.getElementById("classDescription");
        let description = selectedOption.getAttribute("data-description");
        descriptionDiv.textContent = description || "Выберите класс, чтобы увидеть описание";
        document.getElementById("classDropdown").addEventListener("change", updateClassDescription);
    }
    function updateRaceDescription() {
        let raceSelect = document.getElementById("raceDropdown");
        let selectedOption = raceSelect.options[raceSelect.selectedIndex];
        let descriptionDiv = document.getElementById("raceDescription");
        let description = selectedOption.getAttribute("data-description");
        descriptionDiv.textContent = description || "Выберите расу, чтобы увидеть описание";
        document.getElementById("raceDropdown").addEventListener("change", updateRaceDescription);
    }
</script>
{% if choose=="race" %}
<form action="/character/class/" method="post">
    <div class="character-creation">
        <div class="left-panel">
            <label for="username">Имя персонажа:</label>
            <input type="text" id="name" name="name" placeholder="Введите имя" required>
            <label for="raceDropdown">Раса:</label>
            <select name="race_name" id="raceDropdown" onchange="updateRaceDescription()"
                onclick="updateRaceDescription()">
                {% for race in all_races %}
                <option value="{{ race.name }}" data-description="{{ race.description }}">{{ race.name }}
                </option>
                {% endfor %}
            </select>
        </div>
        <div class="right-panel" id="description-container">
            <p>Выберите расу, чтобы увидеть описание.</p>
            <div class="container-description">
                <p><strong>Описание расы:</strong></p>
                <div id="raceDescription"></div>
            </div>
        </div>
    </div>
    <button type="submit">Далее</button>
</form>
{% else %}
<form action="/character/next/" method="post">
    <div class="character-creation">
        <div class="left-panel">
            <label for="classDropdown">Класс:</label>
            <select name="class_name" id="classDropdown" onchange="updateClassDescription()"
                onclick="updateClassDescription()">
                {% for class in all_classes %}
                <option value="{{ class.name }}" data-description="{{ class.description }}">{{ class.name }}
                </option>
                {% endfor %}
            </select>
        </div>
        <div class="right-panel" id="description-container">
            <p>Выберите класс, чтобы увидеть описание.</p>
            <div class="container-description">
                <p><strong>Описание класса:</strong></p>
                <div id="classDescription"></div>
            </div>
        </div>
    </div>
    <button type="submit">Далее</button>
</form>
{% endif %}



{% endblock %}