{% extends "main.html" %}

{% block crud_container %}

<link rel="stylesheet" type="text/css" href="/static/style/styles_skills_choose.css">


<title>Create Character</title>
<form action="/character/dices" method="post">
    <p>Выберите 2 навыка:</p>
    <div class="character-creation">
        <div class="left-panel">
            <p id="defaultMessage">Скиллы класса {{class_name}} ...</p>
            {% for skill in skills %}
            <br>
            <label class="skill-label">
                <span class="skill-name">{{ skill }}</span>
                <input type="checkbox" name="selected_skills" value="{{ skill }}" data-description="{{ skill }}"
                    onclick="updateSkillDescription(this);">
            </label>
            <div class="skill-description" id="desc-{{ skill|replace(' ', '_') }}" style="display: none;">
                <div>{{ skill }}</div>
                <br>
            </div>
            {% endfor %}
        </div>
        <div class="right-panel" id="description-container">
            <p id="defaultMessage">Здесь будет описание скиллов от происхождения...</p>
            <div id="skillDetails" style="display: none;">
                <p><strong id="skillName"></strong></p>
                <div id="skillDescription"></div>
            </div>
        </div>
    </div>
    <button type="submit" id="submitButton" onclick="validateSkills()">Выбрать</button>
</form>

<!-- Модальное окно -->
<div id="customModal" class="modal">
    <div class="modal-content">
        <p id="modalMessage">Можно выбрать только 2 навыка!</p>
        <button onclick="closeModal()">OK</button>
    </div>
</div>

<script>

    function updateSkillDescription(checkbox) {
        let skillId = "desc-" + checkbox.value.replace(/\s+/g, '_');
        let descriptionBlock = document.getElementById(skillId);

        descriptionBlock.style.display = checkbox.checked ? "block" : "none";
    }

    function validateSkills(event) {
        let checkboxes = document.querySelectorAll('input[name="selected_skills"]:checked');

        if (checkboxes.length !== 2) {
            showModal("Выберите ровно 2 навыка!");
            return; // Останавливаем выполнение, форма не отправляется
        }

        // Если выбрано 2 навыка, отправляем форму
        document.getElementById("skillForm").submit();
    }

    function showModal(message) {
        document.getElementById("modalMessage").textContent = message;
        document.getElementById("customModal").style.display = "flex";

        // Добавляем временный блокировщик кнопки, чтобы избежать двойного нажатия
        document.getElementById("submitButton").disabled = true;
    }

    function closeModal() {
        document.getElementById("customModal").style.display = "none";

        // Разблокировать кнопку после закрытия окна
        document.getElementById("submitButton").disabled = false;
    }
</script>


{% endblock %}