<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" type="text/css" href="/static/style/styles.css">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DND Project FastAPI</title>

</head>

<body>
    <header>
        <!-- <nav class="navbar"> -->
        <div class="logo"><a href="/"><img src="/static/images/logo.png"></img></a></div>
        <div class="user-options">
            {% if request.state.user %}
            <a href="/auth/logout">Выход</a>
            {% else %}
            <a href="/auth/registration">Регистрация</a> | <a href="/auth/login">Вход</a>
            <div class="burger-menu">☰</div>
            {% endif %}
        </div>
    </header>
    <main>
        <div class="container">
            <div class="up_border"><img src="/static/images/up_border.png"></img></div>
            <div class="container-fluid">
                {% block crud_container %}
                {% endblock %}
            </div>
            <div class="down_border"><img src="/static/images/down_border.png"></img></div>
    </main>
    <footer>
        <p>&copy; 2025 О нас | Контакты | Политика конфиденциальности | <a href="/docs">Документация</a></p>
    </footer>
</body>

</html>